<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>CV Lionel Meunier</title>
    <link rel="stylesheet" href="styles/css/styles.css"/>
    <link rel="stylesheet" href="styles/css/test.css"/>

    <script type="application/javascript" src="bower_components/underscore/underscore-min.js"></script>
    <script type="application/javascript"
            src="bower_components/underscore.string/dist/underscore.string.min.js"></script>
    <script type="application/javascript" src="bower_components/moment/min/moment.min.js"></script>
    <script type="application/javascript" src="bower_components/jquery/dist/jquery.min.js"></script>

</head>
<body ng-app="CvLme" ng-controller="RootCtrl">
<div>
    <div class="test-line-display"></div>
    <div ng-repeat="part in parts" class="cv-section cv-section-{{ part.name }}" cv-section="{{ part.name }}">
        <div ng-if="part.name == 'intro'">
            <h1 class="cv-element"
            cv-section-element="Id1"
            cv-section-top="100"
            cv-section-left="100">Introduction <small>Toujours positionner à 100px du haut et 100px de droite</small></h1>
            <h1 class="cv-element"
            cv-section-element="Id2"
            cv-section-display="0.5">Afficher quand on passe les 50%</h1>
        </div>
        <div ng-if="part.name == 'info'">
            <div class="cv-element"
                 cv-section-element="Id3"
                 cv-section-top="100">
                <h2>
                    <small>Toujours positionner à 100px du haut</small>
                </h2>
                <img ng-src="images/picture.png" alt="Picture"/>
            </div>
            <h1 class="cv-element"
                cv-section-element="Id4"
                cv-section-display="0.75">Afficher quand on passe les 75%</h1>
        </div>
        {{ part.name }}
        <p>Les élements avec plusieur paramètre</p>

    </div>
</div>

<script type="application/javascript" src="bower_components/angular/angular.min.js"></script>
<script type="application/javascript" src="bower_components/angular-animate/angular-animate.min.js"></script>

<script type="application/javascript" src="scripts/app.js"></script>

<script type="application/javascript" src="scripts/constant/parts.js"></script>
<script type="application/javascript" src="scripts/constant/info.js"></script>

<script type="application/javascript" src="scripts/controller/RootCtrl.js"></script>
<script type="application/javascript" src="scripts/controller/InfoCtrl.js"></script>

<script type="application/javascript" src="scripts/directive/cvElement.js"></script>
<script type="application/javascript" src="scripts/directive/scroolTimeLine.js"></script>


</body>
</html>