<div class="block-info">
    <div>
        <span>
            <img ng-src="{{ info.general.picture }}" alt="{{ info.general.firstName }} {{ info.general.lastName }}"/>
            {{ info.general.firstName }} {{ info.general.lastName }}
        </span>
    </div>
    <div>
        <a ng-href="mailto:{{ info.general.email }}">
            <span class="fa fa-email"></span>
            {{ info.general.email }}
        </a>
    </div>
    <div>
        <span>
            <span class="fa fa-phone"></span>
            {{ info.general.phone }}
        </span>
    </div>
    <div>
        <a ng-href="{{ info.general.web }}">
            <span class="fa fa-wheb"></span>
            {{ info.general.web }}
        </a>
    </div>
</div>