<div class="container-fluid" ng-controller="IntroCtrl">
    <div class="row">
        <div class="col-xs-4 presentation" cv-element="data.barLeft">
            <div class="">
                <p>Bonjour,</p>
                <p>Je m'appele Lionel Meunier et voici mon CV</p>
            </div>
            <div ng-style="{'margin-top':heightWindowVisibility+'px'}">
                <p>Bonjour,</p>
                <p>Je m'appele Lionel Meunier et voici mon CV</p>
            </div>
            <div ng-style="{'margin-top':heightWindowVisibility+'px'}">
                <p>Bonjour,</p>
                <p>Je m'appele Lionel Meunier et voici mon CV</p>
            </div>
            <div ng-style="{'margin-top':heightWindowVisibility+'px'}">
                <p>Bonjour,</p>
                <p>Je m'appele Lionel Meunier et voici mon CV</p>
            </div>
        </div>
        <div class="col-xs-8" ng-style="{'min-height':data.barLeft.height}">
            <div cv-element class="page">
                <div ng-style="stylePage($section,$element)">
                    <p>Mettre la page vierge</p>
                </div>
            </div>
        </div>
    </div>


</div>
