
.diamond(@width;@height;@color;@icon-color) {
  color: @icon-color !important;
  display: inline-block;
  width: @width;
  height: @height;
  position: relative;
  margin-top: -@width/4;
  margin-bottom: -@width/4;
  .fa-content {
    position: absolute;
    top: 0;
    left: 0;
    width: @width;
    height: @height*3/4;
    line-height: @height*3/4;
    text-align: center;
    font-size:  min(@width/2,@height/2);
    > .fa:before {
      color: @icon-color !important;
    }
  }
  .cut-diamond {
    display: inline-block;
    border-style: solid;
    border-color: transparent transparent @color transparent;
    border-width: 0 @width/4 @height/4 @width/4;
    height: 0;
    width: @width;
    position: relative;
    margin-bottom: @height/2;
    &:after {
      content: "";
      position: absolute;
      top: @height/4;
      left: -@width/4;
      width: 0;
      height: 0;
      border-style: solid;
      border-color: @color transparent transparent transparent;
      border-width: @height*3/4 @width/2 0 @width/2;
    }
  }
  &.inverse {
    .cut-diamond {
      transform: rotate(180deg);
      margin-top: @height*3/4;
      margin-bottom: -@height/4;
    }
    .fa-content {
      top : @height/4;
    }
  }
}

@diamond-width : 40px;
@diamond-height : 40px;
@diamond-color : @color-primary;
@diamond-icon-color : #fff;
.diamond {
  .diamond(@diamond-width;@diamond-height;@diamond-color;@diamond-icon-color);
}
@media print {
  .diamond {
    .diamond(40px;40px;@diamond-color;@diamond-icon-color);
  }
}


.burst-12(@width;@height;@color) {
  background: @color !important;
  width: @width;
  height: @height;
  position: relative;
  text-align: center;
  &:before,
  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: @width;
    height: @height;
    background: @color !important;
  }
  &:before {
    -webkit-transform: rotate(30deg);
    -moz-transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    -o-transform: rotate(30deg);
  }
  &:after {
    -webkit-transform: rotate(60deg);
    -moz-transform: rotate(60deg);
    -ms-transform: rotate(60deg);
    -o-transform: rotate(60deg);
  }
}

@burst-width : 20px;
@burst-height : 20px;
@burst-color : @color-primary;

.burst-12 {
  .burst-12(@burst-width;@burst-height;@burst-color);
}

@media print {
  .burst-12 {
    .burst-12(10px;10px;@burst-color);
  }
}
