
@timeline-height-ligne : 45px;
@timeline-color-sep : #000;
@timeline-sep-width : 5px;
@timeline-bg-primary : lighten(@color-primary,20%);
@timeline-bg-second : @color-second;
@timeline-radius : 5px;


.timeline-wrap {
  .time-sep {
    height : @timeline-height-ligne;
    width : 0;
    border-left : @timeline-sep-width dotted @timeline-color-sep;
    padding-top : (@timeline-height-ligne/2)-@burst-height/2;
    margin : 0 auto;
    .burst-12 {
      margin-left : -(@burst-width/2 + @timeline-sep-width/2);
    }
  }
  .row {
    .time-date {
      border-radius: @timeline-radius;
      font-weight: bold;
      text-align: center;
      height: @timeline-height-ligne;
      line-height: @timeline-height-ligne;
      background-color : @timeline-bg-second;
      .date-deb,
      .date-end {
        padding : 5px;
      }
      .date-deb {
        padding-right: 0;
      }
      .date-deb:after {
        content : "-";
        padding-left: 5px;
      }
    }
    .time-title {
      border-radius: @timeline-radius;
      padding-left : 10px;
      height: @timeline-height-ligne;
      line-height: @timeline-height-ligne;
      color : #fff;
      background-color : @timeline-bg-primary;
      font-weight: bold;
    }
    .time-desc {
      padding-left : 10px;
      border-radius: @timeline-radius;
      height: @timeline-height-ligne;
      line-height: @timeline-height-ligne/2;
      background-color : @timeline-bg-second;
      a {
        display: block;
      }
    }

  }
}