
@cv-fonts-path : '../fonts';
@cv-icon-pre : fa;

@cv-color-border-top : #FF0;
@cv-color-border-bottom : #00F;


//Background
@bg-primary : #ECECEC;
@bg-default : #000;

//Border-color
@bc-primary : lighten(@bg-primary, 10%);


@color-presentation : #fff;




@color-primary : #0C4B98;
@color-second : #f7f7f7;
@color-default : #070707;
@color-second-default : #070707;


//Variables utiliser dans bootstrap
@font-size-base : 12pt;
@text-color: #070707;
@font-maranth: 'Amaranth', sans-serif;
@font-josefin: 'Josefin Slab', serif;
@font-roboto: 'Roboto Slab', serif;

@font-family-sans-serif: @font-maranth;
@font-family-serif: @font-roboto;

@font-family-base:        @font-family-serif;

@grid-gutter-width:         10px;